.goodsSelection {
    grid-area: goodsSelection;
    display: grid;
    padding: 10px;
    border: 2px solid black;
    height: auto;
    grid-template-columns: auto;

}

.cardItem {
    margin: 10px;
    border-radius: 2px;
    border: 2px solid black;
}

.card{
    text-decoration: none;
}

.nameplate{
    text-align: center;
}
