.app {


}

.wrapper {
    display: grid;
    grid-template-areas:
            'header header '
            'navBar goodsSelection'
            'footer footer ';
    grid-gap: 10px;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
}



